body {
  background-color: #00aba9;
  font-family: 'Poppins', sans-serif;
}

.header {
  padding: 20px;
}
.img-size {
  width: 171px;
  height: 180px;
}
.activity {
  background-color: #0099cc;
  border-radius: 15px;
  color: white;
  padding: 20px;
}
.dog-profile {
  text-align: center;
  font-size: 15px;
  color: white;
}
.dog {
  border-radius: 15px;
  background-color: #800080;
}

ul {
    list-style-type: none;
    font-size: 18px;
}
.list-view {
  margin: 0 auto;
  width: 200px;
}

h1 {
  font-size: 45px;
}

.delete-activity {
  float: right
}
