body {
  background-color: #20b2aa;
  font-family: 'Poppins', sans-serif;
}
.img-size {
  width: 171px;
  height: 180px;
}
.activity {
  background-color: gray;
  border-radius: 15px;
  color: white;
  padding: 20px;
}
.dog-profile {
  text-align: center;
}
.dog {
  border-radius: 15px;
  background-color: #6b5f77;
}

ul {
    list-style-type: none;
    font-size: 18px;
}
.list-view {
  margin: 0 auto;
  width: 200px;
}

h1 {
  font-size: 45px;
}
